{% extends 'base.html' %}

{% block title %}
Free Forum
{% endblock %}

{% block body %}
  <div class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-5 fw-normal">Free Forum</h1>
      <p class="fs-3 text-muted">Привет! Тут ты можешь делиться своими идеями по завоеванию мира. Можешь делиться своими мыслями или
        навязчивыми идеями в виде анонимных публикаций любого размера и содержания</p>
    </div>
  </div>
{% endblock %}